In [68]:
import pandas as pd
import re

In [139]:
# read a txt file and save all the contents as list, return the list
def readtxt(file):
    ls = []
    with open(file) as sample:
        for line in sample:
            ls.append(line.rstrip())
    return ls

#check the function
readtxt('friends.txt')

['Ana',
 '801-456-789',
 'Ben',
 '609 4567890',
 'Cory',
 '(206)-345-2619',
 'Danny',
 '6095648765']

In [140]:
def skipline(ls, start, step):
    newls = []
    for i in range(start, len(ls), step):
        newls.append(ls[i])
    return newls

#check the function
skipline(readtxt('friends.txt'),1,2)

['801-456-789', '609 4567890', '(206)-345-2619', '6095648765']

In [142]:

def get3digit(ls, pattern):
    newls = []
    for i in ls:
       x = re.search(pattern, i)
       newls.append(x.group())
    return newls

def removels(ls):
    newls = []
    for i in ls:
        if(len(i) > 3):
            x = re.split('^\(', i)[1]
            newls.append(x)
        else: 
            x = i
            newls.append(x)
    return newls

#check function
get3digit(skipline(readtxt('friends.txt'),1,2), pattern)

#check function removels
ls = get3digit(skipline(readtxt('friends.txt'),1,2), pattern)
removels(ls)

['801', '609', '206', '609']

In [143]:
# return a dataframe with joined table
#file1 is the txt need pre processing
def matchtxt(file1, file2, pattern, step):
    ls1 = removels(get3digit(skipline(readtxt(file1),1, step), pattern))
    ls2 = skipline(readtxt(file1),0, step)
    ls3 = skipline(readtxt(file2),1, step)
    ls4 = skipline(readtxt(file2),0, step)
    dat_1 = pd.DataFrame({'tel': ls1,'name': ls2}, columns=['tel', 'name'])
    dat_2 = pd.DataFrame({'state': ls3,'tel': ls4}, columns=['state', 'tel'])
    return dat_1.merge(dat_2, on = 'tel', how = 'left')

In [144]:
pattern = '^[0-9]{3}|^\([0-9]{3}'
matchtxt('friends.txt', 'map_areacodes_states.txt', pattern, 2)

   tel   name       state
0  801    Ana        Utah
1  609    Ben  New Jersey
2  206   Cory  Washington
3  609  Danny  New Jersey